.bar {
    background-color: rgba(0, 0, 0, 1);
    overflow: hidden;
    width: 100vw;
    height: 200px;
    position: relative;
    bottom: 0px;

    border-top: 5px solid #17191c;
    border-bottom: 25px solid rgba(102, 255, 26, 1);


}

.content {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    position: absolute;
    height: 100%;
    width: 50%;
}


.content .item {
    cursor: pointer;
    float: left;
    width: fit-content;
    height: 50px;
    text-align: left;
    background-color: #101010;
    color: white;
    font-size: 20px;
    line-height: 40px;
    font-family: 'Roboto', Verdana, sans-serif;
    font-weight: 300;

    padding: 5px;

}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    right: 0;
    padding: auto;

    border-left: 5px solid #17191c;

    width: 40%;
    max-width: 400px;
    height: 170px;

}

.login h1 {
    color: white;
    position: absolute;
    left: 38%;
    top: 5%;
}


.login .item {
    cursor: pointer;
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: #101010;
    color: white;
    font-size: 20px;
    line-height: 40px;
    font-family: 'Roboto', Verdana, sans-serif;
    font-weight: 300;

    padding: 5px;

}