<div class="bar">

    <div class="content">

        <div class="item" routerLink="main" name="linkBarHome">
            <p>Home</p>
        </div>

        <div class="item" routerLink="help" name="linkBarHelp">
            <p>Help/FAQ</p>
        </div>

        <div class="item" routerLink="aboutus" name="linkBarAboutUs">
            <p>About Us</p>
        </div>
    </div>

    <div *ngIf="!loggedIn; else elseBlock" class="login">
        <h1>Account</h1>

        <div class="item" routerLink="login" name="linkBarLogin">
            Login
        </div>

        <div class="item" routerLink="sign-up" name="linkBarSignUp">
            Register
        </div>
    </div>

    <ng-template #elseBlock>
        <div class="login">
            <h1>Account</h1>

            <div class="sect">
                <div class="button" name="linkBarProfile">
                    Profile
                </div>

                <div class="button" name="linkBarLogout">
                    Logout
                </div>
            </div>
        </div>
    </ng-template>



</div>
<p style="color: black; position: absolute; bottom: -210px; left: 5px;"><b>Go Goal® is a Registered Trademark. All
        rights reserved.</b>
</p>