.bar {
    background-color: rgba(0, 0, 0, 1);
    overflow: hidden;
    width: 100%;
    height: 200px;
    position: fixed;
    bottom: 0px;

    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;

    border-top: 5px solid #17191c;
    border-bottom: 25px solid rgba(102, 255, 26, 1);
}

.content {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    position: absolute;
    height: 100%;
    width: 50%;
}


.content .item {
    cursor: pointer;
    float: left;
    width: fit-content;
    height: 50px;
    text-align: left;
    background-color: #101010;
    color: white;
    font-size: 20px;
    line-height: 40px;
    font-family: 'Roboto', Verdana, sans-serif;
    font-weight: 300;

    padding: 5px;

}

.login {
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    right: 10%;
}


.login .item {
    cursor: pointer;
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: #101010;
    color: white;
    font-size: 20px;
    line-height: 40px;
    font-family: 'Roboto', Verdana, sans-serif;
    font-weight: 300;

    padding: 5px;

}