<div class="bar">
    <div class="content">
        <div class="item">
            <a routerLink="/home" routerLinkActive="active">Home</a>
        </div>
        <div class="item">
            <a routerLink="/about" routerLinkActive="active">About</a>
        </div>
        <div class="item">
            <a routerLink="/contact" routerLinkActive="active">Contact</a>
        </div>
        <div class="item">
            <a routerLink="/login" routerLinkActive="active">Login</a>
        </div>
        <div class="item">
            <a routerLink="/register" routerLinkActive="active">Register</a>
        </div>
    </div>
</div>
