<div class="background">
    <div class="signblock">

        <body>
            <b class="title">Create Account</b>
            <br>
            <div class="signup">
                <form (submit)="Submit(userData)">
                    <label for="FirstName">First Name: </label>
                    <input type="text" class="form" name="FirstName" placeholder="First Name"
                        [(ngModel)]="userData.FirstName">
                    <br>
                    <label for="LastName">Last Name: </label>
                    <input type="text" class="form" name="LastName" placeholder="Last Name"
                        [(ngModel)]="userData.LastName">
                    <br>
                    <label for="Email">Email: </label>
                    <input type="text" class="form" name="Email" placeholder="Email" [(ngModel)]="userData.Email">
                    <br>
                    <label for="Username">Username: </label>
                    <input type="text" class="form" name="Username" placeholder="Username"
                        [(ngModel)]="userData.Username">
                    <br>
                    <label for="Password">Password: </label>
                    <input type="password" class="form" name="Password" placeholder="********"
                        [(ngModel)]="userData.Password">
                    <br>
                    <div class="button">
                        <button type="submit" formControlName="signUpButton">Sign Up</button>
                    </div>
                </form>
            </div>
            <br>
            <div id="test" *ngIf="this.submitted">
                <p>{{this.signUpMessage}}</p>
            </div>
        </body>
    </div>
</div>