<div class="page flex-column">

    <div class="sect-1">

        <div class="title-card">
            <svg height="100%" width="100%" stroke="black" stroke-width="1" class="text-line">
                <text x="7%" y="42%">Welcome to</text>
                <text x="22%" y="72%">Go Goal</text>
            </svg>
        </div>

        <div class="icon-a pos1">
            <mat-icon>account_circle</mat-icon>
        </div>

        <div class="icon-a pos2">
            <mat-icon>done</mat-icon>
        </div>

        <div class="icon-a pos3">
            <mat-icon>list</mat-icon>
        </div>

        <div class="icon-a pos4">
            <mat-icon>edit</mat-icon>
        </div>

        <div class="icon-a pos5">
            <mat-icon>email</mat-icon>
        </div>

        <div class="icon-a pos6">
            <mat-icon>how_to_reg</mat-icon>
        </div>

        <div class="icon-a pos7">
            <mat-icon>dvr</mat-icon>
        </div>

        <div class="icon-a pos8">
            <mat-icon>phone_android</mat-icon>
        </div>

        <button class="join-b" (click)="join()">Join</button>


    </div>

    <div class="sect-2">

        <div class="panel1">
            <h1>John Smith</h1>
            <div class="goalbox">
                <div class="goal">
                    <p>Goal: Run a Marathon</p>
                    <button class="complete-b" style="cursor: default; ">
                        <mat-icon>done</mat-icon>
                    </button>
                </div>
                <div class="goal">
                    <p>Goal: Earn a raise.</p>
                    <button class="complete-b" style="cursor: default; ">
                        <mat-icon>done</mat-icon>
                    </button>
                </div>
                <div class=" goal">
                    <p>Goal: Read a book</p>
                    <button class="complete-b" style="cursor: default; ">
                        <mat-icon>done</mat-icon>
                    </button>
                </div>
            </div>
        </div>


        <div class="info">
            <div class="info-title">
                <h1>What is Go Goal?</h1>
            </div>
            <div class="info-text">
                <p>Go Goal is a web application that allows you to set goals and track your progress. It is a simple and
                    easy to use tool that will help you achieve your goals any of your finest aspirations.</p>

                <br>

                <p>But that's not all, we connect you with the ones you love and cherish while you chase your dreams, so
                    that you can be sure that whatever you accomplish... means something.</p>
            </div>

        </div>

    </div>

    <div class="sect-3">


    </div>

</div>