<div class="page flex-column">

    <div class="sect-1">

        <div class="gg-logo-pos">
            <img src="../../assets/gg.png" alt="Go Goal Logo" class="gg-logo">
        </div>

        <div class="title-card">
            <svg height="100%" width="100%" stroke="black" stroke-width="1" class="text-line">
                <text x="10%" y="42%">Welcome to</text>
                <text x="22%" y="72%">Go Goal</text>
            </svg>
        </div>

        <div class="icon-a pos1">
            <mat-icon>account_circle</mat-icon>
        </div>

        <div class="icon-a pos2">
            <mat-icon>done</mat-icon>
        </div>

        <div class="icon-a pos3">
            <mat-icon>list</mat-icon>
        </div>

        <div class="icon-a pos4">
            <mat-icon>edit</mat-icon>
        </div>

        <div class="icon-a pos5">
            <mat-icon>email</mat-icon>
        </div>

        <div class="icon-a pos6">
            <mat-icon>how_to_reg</mat-icon>
        </div>

        <div class="icon-a pos7">
            <mat-icon>dvr</mat-icon>
        </div>

        <div class="icon-a pos8">
            <mat-icon>phone_android</mat-icon>
        </div>


    </div>

    <div class="sect-2">
        <div class="join"></div>
    </div>

</div>