.sect-1 {
    width: 100%;
    height: clamp(500px, 100vh, 100vh);

    background-image: linear-gradient(90deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.5));
    padding: 50px 0;
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-card {
    height: 500px;
    width: 800px;

    font-size: 8rem;
    font-weight: 1000;
    color: black;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);

    border-radius: 20px;
    border: 5px solid rgba(102, 255, 26, 1);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
    top: -5%;

}


.gg-logo-pos {
    position: absolute;
    top: 40%;
    animation: rotatelogo 5s linear infinite;
}

.gg-logo {
    height: 300px;
    width: 300px;
}




.sect-2 {
    width: 100%;
    height: clamp(500px, 100vh, 100vh);

    background-image: linear-gradient(90deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.5));
    padding: 50px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join {
    height: 50%;
    width: 30%;

    background: black;
    border-radius: 10px;
    border: 3px solid rgba(102, 255, 26, 1);

    transform:
        perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
    filter: blur(2px);
    opacity: 0.9;
    transition: 0.6s ease all;
}

.join:hover {
    transform:
        perspective(800px) rotateY(-15deg) translateY(-50px) rotateX(10deg) scale(1);
    filter: blur(0);
    opacity: 1;
}


/* Animated Title */
.text-line text {
    height: 100%;
    width: 100%;

    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    stroke-linecap: round;
    animation: dash 4s linear forwards, filling 2s ease-in forwards;
    font-size: 8rem;
    font-weight: 1000;
    overflow-wrap: normal;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;

    border: 2px solid rgba(102, 255, 26, 1);
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes filling {
    from {
        fill: rgba(102, 255, 26, 1);
        fill-opacity: 0;
    }

    to {
        fill: rgba(102, 255, 26, 1);
        fill-opacity: 1;
    }
}

/* Animated Icons */

.icon-a {
    height: 75px;
    width: 75px;
    background-color: black;
    background: black;
    color: white;


    border: 3px solid rgba(102, 255, 26, 1);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    transition: all 0.5s ease-in-out;

}

.icon-a>mat-icon {
    zoom: 1.5;
}

.icon-a:hover {
    height: 100px;
    width: 100px;
    border: 2px solid rgba(102, 255, 26, 1);
    outline: 10px solid rgba(255, 255, 255, 0.9);

}



.pos1 {
    position: absolute;
    border-radius: 50%;
    top: 10%;
    left: 5%;
    animation: icon1 30s infinite linear, rotate 3s infinite linear;
}

.pos2 {
    position: absolute;
    border-radius: 0px;
    top: 10%;
    left: 5%;
    animation: icon2 30s infinite linear, rotate 7s infinite linear;
}

.pos3 {
    position: absolute;
    top: 10%;
    left: 5%;
    animation: icon3 30s infinite linear, rotate 12s infinite linear;
}

.pos4 {
    position: absolute;
    border-radius: 50%;
    top: 10%;
    left: 5%;
    animation: icon4 30s infinite linear, rotate 20s infinite linear;
}

.pos5 {
    position: absolute;
    border-radius: 20px;
    top: 10%;
    left: 48%;
    animation: icon5 30s infinite linear, rotate 5s infinite linear;
}

.pos6 {
    position: absolute;
    border-radius: 15px;
    top: 48%;
    left: 90%;
    animation: icon6 30s infinite linear, rotate 10s infinite linear;
}

.pos7 {
    position: absolute;
    border-radius: 20px;
    top: 90%;
    left: 48%;
    animation: icon7 30s infinite linear, rotate 15s infinite linear;
}

.pos8 {
    position: absolute;
    border-radius: 20px;
    top: 48%;
    left: 5%;
    animation: icon8 30s infinite linear, rotate 22s infinite linear;
}



@keyframes icon1 {

    0% {
        left: 5%;
        top: 10%;
    }

    25% {
        left: 90%;
        top: 10%;
    }

    50% {
        left: 90%;
        top: 90%;
    }

    75% {
        left: 5%;
        top: 90%;
    }

    100% {
        left: 5%;
        top: 10%;
    }

}


@keyframes icon2 {

    0% {
        left: 90%;
        top: 10%;
    }

    25% {
        left: 90%;
        top: 90%;
    }

    50% {
        left: 5%;
        top: 90%;
    }

    75% {
        left: 5%;
        top: 10%;
    }

    100% {
        left: 90%;
        top: 10%;
    }

}

@keyframes icon3 {

    0% {
        left: 5%;
        top: 90%;
    }

    25% {
        left: 5%;
        top: 10%;
    }

    50% {
        left: 90%;
        top: 10%;
    }

    75% {
        left: 90%;
        top: 90%;
    }

    100% {
        left: 5%;
        top: 90%;
    }

}

@keyframes icon4 {

    0% {
        left: 90%;
        top: 90%;
    }

    25% {
        left: 5%;
        top: 90%;
    }

    50% {
        left: 5%;
        top: 10%;
    }

    75% {
        left: 90%;
        top: 10%;
    }

    100% {
        left: 90%;
        top: 90%;
    }

}

@keyframes icon5 {

    0% {
        left: 48%;
        top: 10%;
    }

    12.5% {
        left: 90%;
        top: 10%;
    }

    25% {
        left: 90%;
        top: 48%;
    }

    37.5% {
        left: 90%;
        top: 90%;
    }

    50% {
        left: 48%;
        top: 90%;
    }

    62.5% {
        left: 5%;
        top: 90%;
    }

    75% {
        left: 5%;
        top: 48%;
    }

    87.5% {
        left: 5%;
        top: 10%;
    }

    100% {
        left: 48%;
        top: 10%;
    }

}

@keyframes icon6 {

    0% {
        left: 90%;
        top: 48%;
    }

    12.5% {
        left: 90%;
        top: 90%;
    }

    25% {
        left: 48%;
        top: 90%;
    }

    37.5% {
        left: 5%;
        top: 90%;
    }

    50% {
        left: 5%;
        top: 48%;
    }

    62.5% {
        left: 5%;
        top: 10%;
    }

    75% {
        left: 48%;
        top: 10%;
    }

    87.5% {
        left: 90%;
        top: 10%;
    }

    100% {
        left: 90%;
        top: 48%;
    }

}

@keyframes icon7 {

    0% {
        left: 48%;
        top: 90%;
    }

    12.5% {
        left: 5%;
        top: 90%;
    }

    25% {
        left: 5%;
        top: 48%;
    }

    37.5% {
        left: 5%;
        top: 10%;
    }

    50% {
        left: 48%;
        top: 10%;
    }

    62.5% {
        left: 90%;
        top: 10%;
    }

    75% {
        left: 90%;
        top: 48%;
    }

    87.5% {
        left: 90%;
        top: 90%;
    }

    100% {
        left: 48%;
        top: 90%;
    }

}

@keyframes icon8 {

    0% {
        left: 5%;
        top: 48%;
    }

    12.5% {
        left: 5%;
        top: 10%;
    }

    25% {
        left: 48%;
        top: 10%;
    }

    37.5% {
        left: 90%;
        top: 10%;
    }

    50% {
        left: 90%;
        top: 48%;
    }

    62.5% {
        left: 90%;
        top: 90%;
    }

    75% {
        left: 48%;
        top: 90%;
    }

    87.5% {
        left: 5%;
        top: 90%;
    }

    100% {
        left: 5%;
        top: 48%;
    }

}


@keyframes rotate {

    0% {
        /* transform: rotate(0deg); */
        transform: rotate3d(0, 0, 0, 0deg);
    }

    100% {
        /* transform: rotate(360deg); */
        transform: rotate3d(4, 2, 3, 360deg);
    }


}


@keyframes rotatelogo {

    0% {
        /* transform: rotate(0deg); */
        transform: rotate3d(0, 0, 0, 0deg);
    }

    100% {
        /* transform: rotate(360deg); */
        transform: rotate3d(0, 2, 0, 360deg);
    }
}