.page {
    width: 100%;
    height: 100%;

    background: grey;
    color: black;

    display: flex;
    flex-direction: row;
    align-items: space-between;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
    background: rgba(125, 126, 125, 0.4);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(125, 126, 125, 0.4) 0%, rgba(14, 14, 14, 0.4) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(125, 126, 125, 0.4) 0%, rgba(14, 14, 14, 0.4) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(125, 126, 125, 0.4) 0%, rgba(14, 14, 14, 0.4) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#0e0e0e', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.content {
    width: 80vw;
    max-width: 90vw;
    min-width: 350px;
    height: 100vh;
    max-height: fit-content;
    min-height: fit-content;

    top: 60px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    flex-grow: 2;
    overflow: hidden;
}

.list {
    width: 90%;
    height: 98%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-top: 86px;
    overflow-y: hidden;
    scrollbar-width: none;
    overflow: auto;

}

.list::-webkit-scrollbar {
    width: 15px;
    position: absolute;
    top: 20px;
}

.list::-webkit-scrollbar-button,
.list::-webkit-scrollbar-track {
    background-color: transparent;
}

.list::-webkit-scrollbar-thumb {
    background-color: black;
    border: 2px solid rgba(102, 255, 26, 1);
    border-radius: 20px;

    max-height: 20px;
}


.goal {
    width: 90%;
    height: 100px;
    min-height: fit-content;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

    outline: rgba(102, 255, 26, 1) 2px solid;
    background: black;
    color: white;


}

.desc {
    flex-grow: 2;
}

.complete-b {
    aspect-ratio: 1/1;
    width: 50px;
    height: 50px;
    color: white;
    background-color: transparent;
    border-radius: 20%;
    border: 2px solid rgba(102, 255, 26, 1);

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: relative;
    transition: 0.5s;
}

.complete-b:hover,
.complete-b:focus {
    background-color: rgba(102, 255, 26, 1);
    color: black;
    transform: translateX(-5px);
    transition: 0.5s;
}


/* LEFT SIDE OF GOAL PAGE*/

.left-side {
    max-width: 25vw;
    width: 100%;
    min-width: none;
    height: 90vh;
    display: flex;
    justify-content: left;

    transition: 0.5s;

}

.sidebar {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    height: fit-content;
    max-height: 800px;

    position: absolute;
    top: 108px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: black;
    color: white;
    border-radius: 10px;
    outline: rgba(102, 255, 26, 1) 2px solid;

    transition: height 1.5s;
    overflow: hidden
}

.sidebar>h1 {
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    height: 50px;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: relative;
    font-weight: 300;
    border-bottom: 2px solid rgba(102, 255, 26, 1);
    margin-bottom: 0px;

}

.buttons {
    width: 100%;
    height: 100%;
    min-height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;


    font-weight: 300;
    padding: 15px;



}

.buttons>button {
    width: 50px;
    height: 50px;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1/1;
    transition: 0.5s;

    border-radius: 10px;
    border: 2px solid rgba(102, 255, 26, 1);
    background: black;
    color: white;
}

.buttons>button:hover,
.buttons>button:focus {
    background: rgba(102, 255, 26, 1);
    color: black;
    outline: 2px solid white;
    border: 2px solid black;
    transform: translateY(-5px);
    transition: background 0.5s;
    transition: color 0.5s;
    transition: transform 0.5s;
}

.new-goal {
    width: 100%;
    min-height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;

}

.form {
    width: 100%;
    height: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 2px 10px 10px 10px;
}

.titl-box {
    width: 30%;
    height: 30px;
    min-height: fit-content;

    background: black;
    color: white;
    border: 1px solid grey;

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: left;
    position: relative;

    border-radius: 10px;
    margin-bottom: 5px;

}

.desc-box {
    width: 100%;
    height: 100px;
    min-height: fit-content;

    background: black;
    color: white;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

    border-radius: 10px;
}

.form>input::placeholder,
textarea::placeholder {
    color: white;
    font-weight: 300;
    font-size: 15px;
    padding-left: 2px;
    position: relative;
    top: 0px;
    opacity: 0.5;
}

.form>button {
    width: 100px;
    height: 35px;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 300;
    border-bottom: 2px solid rgba(102, 255, 26, 1);
    margin-bottom: 0px;
    margin-top: 10px;
    border-radius: 20px;
    border: 2px solid rgba(102, 255, 26, 1);
    background: black;
    color: white;
    transition: 0.5s;
}

.form>button:hover,
.form>button:focus {
    background: rgba(102, 255, 26, 1);
    color: black;
    border: 2px solid black;
}

.experience {
    width: 100%;
    height: 50px;

    border-top: 2px solid rgba(102, 255, 26, 1);
    order: 99;

}

@media only screen and (width <=1200px) {
    .sidebar {
        left: -280px;
        transition: 0.5s;
    }
}

@media only screen and (1200px <width <=1285px) {
    .sidebar {
        left: 20px;
        transition: 0.5s;
    }
}

@media only screen and (1286px <=width <=1800px) {
    .sidebar {
        left: 50px;
        transition: 0.5s;
    }
}

@media only screen and (width >1800px) {
    .sidebar {
        left: 150px;
        transition: 0.5s;
    }
}