<div class="page">
    <div class="left-side">
        <div @sidebar class="sidebar">
            <h1>Goals</h1>
            <div class="buttons">
                <button class="create-b" (click)="newGoalTime = !newGoalTime">
                    <mat-icon>add</mat-icon>
                </button>
                <button class="delete-g">
                    <mat-icon>delete</mat-icon>
                </button>
                <button class="complete-g">
                    <mat-icon>done_all</mat-icon>
                </button>
            </div>
            <div class="new-goal" *ngIf="newGoalTime">
                NEW GOAL
                <div class="form" *ngIf="newGoalTime">
                    <input type="text" class="goalname"><input type="text" class="goaldescription"><button
                        class="create"></button>
                </div>
            </div>

            <div class="experience">XP POINTS IN-PROGRESS</div>
        </div>

    </div>
    <div class="content">
        <div [@goals]="userGoals.length" class="list">
            <div class="goal" *ngFor="let u of userGoals">
                <div class="desc">
                    <p>{{u.Title}}</p>
                    <p>{{u.Description}}</p>
                </div>
                <button class="complete-b">
                    <mat-icon>done</mat-icon>
                </button>
                <!-- <div class="complete-banner">
                    <p>Complete?</p>
                </div> -->

            </div>
        </div>
    </div>
</div>