.page {
    width: 100%;
    height: 100%;

    background: grey;
    color: black;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
    background: rgba(125, 126, 125, 0.4);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(125, 126, 125, 0.4) 0%, rgba(14, 14, 14, 0.4) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(125, 126, 125, 0.4) 0%, rgba(14, 14, 14, 0.4) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(125, 126, 125, 0.4) 0%, rgba(14, 14, 14, 0.4) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#0e0e0e', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.content {
    width: 70vw;
    min-width: 350px;
    height: 70vh;
    min-height: fit-content;
    position: absolute;
    right: -10px;
    top: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list {
    width: 90%;
    height: 90%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.goal {
    width: 90%;
    height: 100px;
    min-height: fit-content;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

    outline: rgba(102, 255, 26, 1) 2px solid;
    background: black;
    color: white;


}

.desc {
    flex-grow: 2;
}

.complete-b {
    aspect-ratio: 1/1;
    width: 50px;
    height: 50px;
    color: white;
    background-color: transparent;
    border-radius: 20%;
    border: 2px solid rgba(102, 255, 26, 1);

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: relative;
}