body {
    text-align: center;
    padding: 20px;
    position: relative;
    width: 500px;

    height: 100%;
    border-radius: 25px;
    background-color: black;
}

.title {
    font-size: 75px;

}

.login {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;

}

.form {
    margin-top: 1vmax;
}

button {
    text-align: center;
    margin-top: 25px;
    height: fit-content;
    width: fit-content;
    padding: 15px;
    background-color: #66ff1a;

    font-weight: bold;
    font-size: 1vw;
    font-family: Verdana, Tahoma, sans-serif;
    border-radius: 10px;
    border: 5px;
    border-color: #2e2e2e;
}

button:hover {
    height: 4.2vh;
    width: 6.3vw;
}

.background {
    background-image: url("../../assets/gg.png");
    background-position: left center;
    background-repeat: repeat;
    background-size: auto 7%;

    height: 100%;
}

.signblock {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20%;



}