<div class="background">

    <div class="signblock">

        <body>
            <b class="title">LOGIN</b>
            <div class="login">

                <form [formGroup]="loginForm" (ngSubmit)="Submit(loginForm)">

                    <label class="form">Email: </label>
                    <input type="text" class="form" name="Email" formControlName="Email">
                    <br>
                    <label class="form">Password: </label>
                    <input type="password" class="form" name="Password" formControlName="Password">
                    <br>
                    <button type="submit" name="loginButton">Log In</button>
                    <br>
                    <a routerLink="../sign-up">Don't have an account? Sign up here!</a>
                </form>

                <p *ngIf="checkFailedLogin()">Login Failed. Please try again</p>
                <p *ngIf="checkSuccessLogin()">Login successful! Redirecting...</p>
            </div>
        </body>
    </div>
</div>