<div class="page">
    <div class="main">

        <div class="signblock">

            <p class="title">Login</p>
            <div class="login">

                <form class="form" [formGroup]="loginForm" (ngSubmit)="Submit(loginForm)">

                    <div class="forms">
                        <div class="f-2">
                            <label class="form1">Email: </label>
                            <input type="text" name="Email" formControlName="Email" placeholder="Email">
                        </div>

                        <div class="f-2">
                            <label class="form2">Password: </label>
                            <input type="password" name="Password" formControlName="Password" placeholder="Password">
                        </div>
                    </div>

                    <button type="submit" name="loginButton">Log In</button>
                    <br>


                </form>

                <a routerLink="../sign-up">Don't have an account? Sign up here!</a>

            </div>

            <p *ngIf="checkFailedLogin()" class="mes">Login Failed. Please try again</p>
            <p *ngIf="checkSuccessLogin()" class="mes">Login successful! Redirecting...</p>

        </div>

    </div>
</div>