<div class="background">

    <div class="signblock">

        <body>
            <b class="title">LOGIN</b>
            <div class="login">

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                    <label class="form">Username: </label>
                    <input type="text" class="form" name="Username" formControlName="username">
                    <br>
                    <label class="form">Password: </label>
                    <input type="password" class="form" name="Password" formControlName="password">
                    <br>
                    <button type="submit" name="loginButton">Log In</button>

                    <br>
                    <a routerLink="../sign-up">Don't have an account? Sign up here!</a>
                </form>

                <p *ngIf="checkFailedLogin()">Login Failed. Please try again</p>
            </div>
        </body>
    </div>
</div>