.color-grad-navbar {
    background: rgb(254, 255, 0);
    background: linear-gradient(90deg, rgba(254, 255, 0, 1) 0%, rgba(0, 255, 16, 1) 53%);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.75);
}

.title-center {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 32px;
    flex: 1 1 auto;
    text-align: center;
}