<mat-toolbar class="color-grad-navbar">

    <span class="title-left">
        <img src="assets\gg.png" alt="" height="55" width="55" routerLink="../main"
            style="cursor: pointer; margin-top: 5px;">
    </span>


    <span *ngIf="!screenThin">
        <img src="assets\gogoal.png" alt="" height="75" width="200" style="margin-top: 5px;">
    </span>

    <span>
        <button class="button" routerLink="../login">Login</button>
        <button class="button" routerLink="../sign-up">Sign Up</button>
    </span>


</mat-toolbar>