<div class="page p">

    <div @tags class="info-cont">
        <a class="tag" href="/help#AccountFAQ">
            <div>
                <h1>Account FAQ</h1>
            </div>
        </a>
        <a class="tag" href="/help#GoalFAQ">
            <div>
                <h1>Goals FAQ</h1>
            </div>
        </a>
        <a class="tag" href="/help#FriendFAQ">
            <div>
                <h1>Friends FAQ</h1>
            </div>
        </a>
        <a class="tag" href="/help#Support">
            <div>
                <h1>Further Contact</h1>
            </div>
        </a>
    </div>

    <div class="questions">
        <div class="questionSet" id="AccountFAQ">
            <h1>Account</h1>
        </div>
        <div @cards1 class="card-cont">
            <div class="infocard">
                <div class="card-top">
                    <h2>What info do I need to set up my account?</h2>
                </div>

                <div class="card-bot">
                    <p>To create an account, all you need to provide is your name, email, and a preferred username and
                        password.
                        Go Goal takes no other personal data to set up an account, and you can start making goals and
                        making friends
                        immediately after!
                    </p>
                </div>

            </div>
            <div class="infocard">
                <div class="card-top">
                    <h2>How do I login?</h2>
                </div>

                <div class="card-bot">
                    <p>To login, just go to the login page and enter you Email and Password!
                    </p>
                </div>

            </div>
            <div class="infocard">
                <div class="card-top">
                    <h2>Can I change any of my info?</h2>
                </div>

                <div class="card-bot">
                    <p>Yes! If you ever want to change any of your personal info, simply login and go to Account
                        Settings either from
                        your profile page or the menu. You can change your name, email, username, and password here.
                    </p>
                </div>

            </div>
            <div class="infocard">
                <div class="card-top">
                    <h2>What happens if I forget my password?</h2>
                </div>

                <div class="card-bot">
                    <p>If you forget your password and cannot login, contact our support team with the form at the
                        bottom of this page.
                        We'll be happy to help you restore your account!
                    </p>
                </div>

            </div>
            <div class="infocard">
                <div class="card-top">
                    <h2>Can I have multiple accounts with the same email? The same username?</h2>
                </div>

                <div class="card-bot">
                    <p>Unfortunately, we are unable to have more than one account for a given username or email. Your
                        username
                        is your unique identifier to other users, so it cannot be copied, and your email is your unique
                        identifier
                        within the system, so it must stay linked to one account.
                    </p>
                </div>

            </div>
            <div class="infocard">
                <div class="card-top">
                    <h2>What information is public?</h2>
                </div>

                <div class="card-bot">
                    <p>Currently, all users will be able to see your name, username, and your goals. Your email and any
                        other personal info will not be shared.
                    </p>
                </div>

            </div>
            <div class="questionSet" id="GoalFAQ">
                <h1>Goals</h1>
            </div>
            <div class="infocard">
                <div class="card-top">
                    <h2>How many goals do I have to have?</h2>
                </div>

                <div class="card-bot">
                    <p>As many as you want! There is no minimum or maximum number of goals to be a member of the Go-Goal
                        community.
                        Everyone starts somewhere, and even having no goals yet but joining for ideas is a wonderful
                        place to start!
                    </p>
                </div>

            </div>
            <div class="infocard">
                <div class="card-top">
                    <h2>What if I don't have any goals?</h2>
                </div>

                <div class="card-bot">
                    <p>Try to discover some! Friends and other users goals are public, so feel free to look around other
                        pages
                        and see if anything sparks interest. It may even be a bonding opportunity!
                        Still not interested in anything you see? That's okay! You can always check back if there's
                        anything you'd like to try.
                    </p>
                </div>

            </div>
            <div class="infocard">
                <div class="card-top">
                    <h2>What if I no longer want to do a goal?</h2>
                </div>

                <div class="card-bot">
                    <p>You can easily go to the goals page and click the trash icon if you choose to delete any of your
                        goals. This will make it
                        no longer appear in any views of your profile, but will not add to your XP. You can always add
                        back a deleted goal if you feel
                        that you're now in a place to complete it.
                    </p>
                </div>

            </div>
            <div class="infocard">
                <div class="card-top">
                    <h2>When do my goals time out?</h2>
                </div>

                <div class="card-bot">
                    <p>Never! Once you set a goal, you will have the opportunity to complete it so long as you don't
                        choose to remove it.
                        Go-Goal is about completing our objectives, not the amount of time it takes, so never feel
                        pressured by time to finish something
                        faster than you are comfortable with. Everyone has their own pace!
                    </p>
                </div>

            </div>
            <div class="infocard">
                <div class="card-top">
                    <h2>How do I gain XP?</h2>
                </div>

                <div class="card-bot">
                    <p>XP is gained every time you mark a goal as completed. More XP will increase your level, which
                        will be your
                        way to show that you are on a roll with your personal goals! Some goals that take more effort
                        may be worth more XP
                        than simpler goals, but every completion will add something to your progress!
                    </p>
                </div>

            </div>
            <div class="questionSet" id="FriendFAQ">
                <h1>Friends</h1>
            </div>
            <div class="infocard">
                <div class="card-top">
                    <h2>How do I send a friend request?</h2>
                </div>

                <div class="card-bot">
                    <p>Once you're logged in, viewing any profile will have a button by their details allowing you to
                        send a friend request.
                        If you have already sent one, it will show that your request is pending, and if it's accepted it
                        will label that user as your friend!
                    </p>
                </div>

            </div>
            <div class="infocard">
                <div class="card-top">
                    <h2>How do I accept a friend request?</h2>
                </div>

                <div class="card-bot">
                    <p>When on your own profile page, a panel will show you any users who have sent you a friend
                        request. You can take as much
                        time as needed before accepting or declining, and can view their profile first to make sure tey
                        are who you think they are.
                        Once you've decided whether to accept or reject, there are two simple buttons next to their name
                        on the pending panel for you to click to make your decision.
                    </p>
                </div>

            </div>
            <div class="infocard">
                <div class="card-top">
                    <h2>How do I find friends?</h2>
                </div>

                <div class="card-bot">
                    <p>The discover tab allows you to search for any user if you know who you are looking for. Future
                        updates will also pull up
                        users with similar goals for you to meet over the app. Once you have some friends, you will also
                        be able to view their friends on their profile,
                        and hopefully make some mutual connections.
                    </p>
                </div>

            </div>
            <div class="infocard">
                <div class="card-top">
                    <h2>What if I don't have any friends on the site?</h2>
                </div>

                <div class="card-bot">
                    <p>Feel free to make some! The discover tab is a great way to meet people with similar interests.
                        You also can spread the word about
                        our site so more people you know can keep tabs on their goals right here!
                    </p>
                </div>

            </div>
            <div class="questionSet" id="Support">
                <h1>Further Support</h1>
            </div>
            <div>
                <h2>Having an issue not answered by the FAQ? Email us at GoGoal@gmail.com with your name, email, and
                    describe your issue. We're always looking to improve and hope to help!</h2>
            </div>
        </div>
    </div>

</div>