.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 90%;
    overflow: hidden;
    width: 25%;
    min-width: 300px;
    position: absolute;
    left: 0;
    top: 25px;
    margin: 1%;
    margin-top: 4.25%;
    /*border: solid red 4px;
    background:rgba(155, 32, 234, 0.8)*/
    border-radius: 20px;

    outline: rgba(102, 255, 26, 1) 2px solid;
    background: rgba(0, 0, 0, .6);
    color: white;

    overflow: hidden;
}

.goal-outline {
    display: inline-block;
    height: 90%;
    overflow-y: auto;
    width: 46%;
    position: absolute;
    margin: 1%;
    margin-top: 4.25%;
    left: 26%;
    top: 25px;
    margin-bottom: 2%;
    border-radius: 20px;

    outline: rgba(102, 255, 26, 1) 2px solid;
    background: rgba(0, 0, 0, .6);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}

.friend-outline {
    display: block;
    justify-content: center;
    height: 90%;
    overflow-y: auto;
    width: 25%;
    position: absolute;
    margin: 1%;
    margin-top: 4.25%;
    right: 0;
    top: 25px;
    margin-bottom: 2%;
    border-radius: 20px;

    outline: rgba(102, 255, 26, 1) 2px solid;
    background: rgba(0, 0, 0, .6);
    color: white;

    overflow: hidden;
}

.discover-outline {
    display: block;
    justify-content: center;
    height: 35%;
    width: 100%;
    position: relative;
    left: 0;
    top: 92.5%;
    margin-bottom: 200px;
    border: solid red 4px;
    background: rgba(186, 192, 34, 0.8);
    overflow: hidden;
}

.row,
.more {
    padding: 10px;
    justify-content: center;
    font-size: large;
    font-weight: bolder;
    width: 100%;
}

.pic {
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin-top: 10px;
    outline: rgba(102, 255, 26, 1) 2px solid;
    background: black;
    border-radius: 50%;
}

.goal {
    width: 90%;
    height: 100px;
    min-height: fit-content;

    display: block;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

    outline: rgba(102, 255, 26, 1) 2px solid;
    background: black;
    color: white;


}

.allGoals,
.more {
    text-align: center;
    width: 30%;
    border-radius: 10px;
    width: 30%;
    outline: rgba(102, 255, 26, 1) 2px solid;
    background: black;
    color: white;
    cursor: pointer;
}

h1 {
    text-align: center;
    padding: 15px;
}

button {
    width: 50%;
    height: 30%;
    min-height: fit-content;
    display: block;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

    outline: rgba(102, 255, 26, 1) 2px solid;
    background: black;
    color: white;
}

.setButton {
    align-self: flex-end;
    height: 80px;
}

.pending,
.accepted {
    width: 50%;
    height: 30%;
    min-height: fit-content;
    display: block;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    outline: black 2px solid;
    background: rgba(128, 128, 128, 0.6);
    color: black;
}

.friends {
    height: 50%;
}