.page {
    display: flex;
}

.profile-body-l {
    height: clamp(95vh, 95vh, 100vh);
    width: 30%;
    min-width: 300px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    padding: 0 0 0 4%;
}

.profile-body-r {
    height: clamp(90vh, 90vh, 100vh);
    width: 70%;
    min-width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 5%;
    margin-top: 60px;

}

/* User Info Section*/

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    position: relative;

    height: 100%;
    max-height: fit-content;
    width: clamp(300px, 500px, 600px);

    border-radius: 20px;
    outline: rgba(102, 255, 26, 1) 2px solid;
    background: rgba(0, 0, 0, .6);
    color: white;

    overflow: auto;
}

.details::-webkit-scrollbar {
    width: 15px;
    position: absolute;
    top: 20px;
}

.details::-webkit-scrollbar-button,
.details::-webkit-scrollbar-track {
    background-color: transparent;
}

.details::-webkit-scrollbar-thumb {
    background-color: black;
    border: 2px solid rgba(102, 255, 26, 1);
    border-radius: 20px;

    max-height: 20px;
}

.img-sect {
    height: 400px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 30%;
    padding-bottom: 10%;
    gap: 30px;

    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1px;

    background: black;
    border-bottom: 2px solid rgba(102, 255, 26, 1);
    border-radius: 0 0 15% 15%;
}

.pic {
    aspect-ratio: 1/1;
    height: 200px;
    width: 200px;
    object-fit: cover;
    outline: rgba(102, 255, 26, 1) 2px solid;
    background: black;
    border-radius: 50%;
}

.info-sect,
.d-box {

    height: fit-content;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1px;

}

.info-sect>h1 {
    width: 100%;
    text-align: left;
    font-size: 24px;
    margin-top: 20px;
    padding: 15px 0 10px 15px;


    background: black;
    border-top: 2px solid rgba(102, 255, 26, 1);
    border-bottom: 2px solid rgba(102, 255, 26, 1);

}

.info-sect>p {
    width: 100%;
    text-align: left;
    font-size: 18px;
    padding: 10px 0 10px 15px;

    background: black;
    border-top: 2px solid rgba(102, 255, 26, 1);
    border-bottom: 2px solid rgba(102, 255, 26, 1);

}

.desc {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;


}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 0 15px;

}

.form>textarea {
    width: 95%;
    height: 100px;
    min-height: fit-content;

    background: black;
    color: white;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

    border-radius: 10px;
}


.d-box>p {
    width: 100%;
    text-align: left;
    font-size: 14px;
    padding: 10px 0 10px 15px;

    background: black;
    border-top: 2px solid rgba(102, 255, 26, 1);
    border-bottom: 2px solid rgba(102, 255, 26, 1);
}

.desc-b {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    padding: 0 0 0 15px;
}

.desc-b>button {
    width: 100px;
    height: 40px;
    margin: 0;
    padding: 0 0 0 0;

    background: black;
    color: white;
    border: 2px solid rgba(102, 255, 26, 1);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.desc-b>button:hover {
    background: rgba(102, 255, 26, 1);
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.account-b {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15%;

    background: black;
    border-top: 2px solid rgba(102, 255, 26, 1);
    border-radius: 10px;
}

.account-b>button {

    height: 60%;
    width: 50%;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;

    outline: rgba(102, 255, 26, 1) 2px solid;
    background: black;
    color: white;
    font-size: 18px;
    transition: all 0.5s;
}

.account-b>button:hover {
    background: rgba(102, 255, 26, 1);
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.pending,
.accepted {
    width: 50%;
    height: 80px;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 500;
    font-size: 18px;
    border-radius: 20px;
    border: 2px solid rgba(102, 255, 26, 1);
    background: rgb(38, 38, 38);
    color: white;
    transition: all 0.5s ease;
    text-align: center;
}


/* Goal Info Section*/

.goal-outline {
    height: clamp(70%, 70%, fit-content);
    width: 80%;
    border-radius: 0 0 20px 20px;

    outline: rgba(102, 255, 26, 1) 2px solid;
    background: rgba(0, 0, 0, .6);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: auto;

}

.goal-outline::-webkit-scrollbar {
    width: 15px;
    position: absolute;
    top: 20px;
}

.goal-outline::-webkit-scrollbar-button,
.goal-outline::-webkit-scrollbar-track {
    background-color: transparent;
}

.goal-outline::-webkit-scrollbar-thumb {
    background-color: black;
    border: 2px solid rgba(102, 255, 26, 1);
    border-radius: 20px;

    max-height: 20px;
}

.goal-card {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 10px;

    border-bottom: 2px solid rgba(102, 255, 26, 1);
    background: black;
    border-radius: 0 0 20px 20px;
}

.g-redirect {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.allGoals,
.more {
    text-align: center;
    width: 30%;
    border-radius: 10px;

    outline: rgba(102, 255, 26, 1) 2px solid;
    background: black;
    color: white;
    transition: .5s ease-in-out;
}

.allGoals:hover,
.more:hover {
    background: rgba(102, 255, 26, 1);
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.goal {
    width: 90%;
    height: 100px;
    min-height: fit-content;

    display: block;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

    outline: rgba(102, 255, 26, 1) 2px solid;
    background: black;
    color: white;


}

.more {
    padding: 10px;
    justify-content: center;
    font-size: large;
    font-weight: bolder;
    width: 100%;
}



/* Friend Info Section*/

.friend-outline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 40%;
    overflow-y: auto;
    width: clamp(300px, 80%, 80%);

    border-radius: 20px;

    outline: rgba(102, 255, 26, 1) 2px solid;
    background: rgba(0, 0, 0, .6);
    color: white;

    overflow: hidden;
}

.friend-outline>h1 {
    background: black;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(102, 255, 26, 1);

}

.requests {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px 10px 10px 10px;

}

.cards {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: auto;
    gap: 1%;
}

.card1 {
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 10px;
    gap: 5px;

    background: black;
    border: 2px solid rgba(102, 255, 26, 1);
    border-radius: 10px;

}

.card2 {
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 10px 15px;
    gap: 5px;

    background: black;
    border: 2px solid rgba(102, 255, 26, 1);
    border-radius: 10px;
}

.card1>p,
.card2>p {

    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: 400;
    color: white;

}

.bts {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.bts>button {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    border: 2px solid rgba(102, 255, 26, 1);
    border-radius: 10px;
    transition: all 0.5s;

}

button>mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
}



@media screen and (width < 770px) {

    .page {
        flex-direction: column;
    }

    .profile-body-r {
        width: 100%;
        height: fit-content;
        margin-top: 10%;
        margin-left: 1%;
        margin-bottom: 10%;
    }

    .profile-body-l {
        margin-left: 14%;
    }

    .goal-outline {
        display: none;
    }

    .friend-outline {
        min-height: 200px;
    }
}