.profile-body-l {
    height: clamp(90vh, 90vh, 100vh);
    width: 30%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    padding: 0 0 0 4%;
}

.profile-body-r {
    height: 80%;
    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 90px;
}

/* User Info Section*/

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;


    height: 90%;
    width: clamp(300px, 500px, 600px);
    overflow: hidden;



    border-radius: 20px;
    outline: rgba(102, 255, 26, 1) 2px solid;
    background: rgba(0, 0, 0, .6);
    color: white;

    overflow: hidden;
}

.img-sect {
    height: 400px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 30%;
    padding-bottom: 10%;
    gap: 30px;

    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1px;

    background: black;
    border-bottom: 2px solid rgba(102, 255, 26, 1);
    border-radius: 0 0 15% 15%;
}

.pic {
    aspect-ratio: 1/1;
    height: 200px;
    width: 200px;
    object-fit: cover;
    outline: rgba(102, 255, 26, 1) 2px solid;
    background: black;
    border-radius: 50%;
}

.info-sect {

    height: fit-content;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1px;

}

.info-sect>h1 {
    width: 100%;
    text-align: left;
    font-size: 28px;
    margin-top: 15px;
    padding: 10px 0 10px 15px;


    background: black;
    border-top: 2px solid rgba(102, 255, 26, 1);
    border-bottom: 2px solid rgba(102, 255, 26, 1);

}

.info-sect>p {
    width: 100%;
    text-align: left;
    font-size: 22px;
    padding: 10px 0 10px 15px;

    background: black;
    border-top: 2px solid rgba(102, 255, 26, 1);
    border-bottom: 2px solid rgba(102, 255, 26, 1);

}


/* Goal Info Section*/

.goal-outline {
    display: inline-block;
    height: 90%;
    overflow-y: auto;
    width: 46%;
    border-radius: 20px;

    outline: rgba(102, 255, 26, 1) 2px solid;
    background: rgba(0, 0, 0, .6);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}



/* Friend Info Section*/

.friend-outline {
    display: block;
    justify-content: center;
    height: 90%;
    overflow-y: auto;
    width: 25%;

    border-radius: 20px;

    outline: rgba(102, 255, 26, 1) 2px solid;
    background: rgba(0, 0, 0, .6);
    color: white;

    overflow: hidden;
}

.discover-outline {
    display: block;
    justify-content: center;
    height: 35%;
    width: 100%;
    position: relative;


    border: solid red 4px;
    background: rgba(186, 192, 34, 0.8);
    overflow: hidden;
}

.row,
.more {
    padding: 10px;
    justify-content: center;
    font-size: large;
    font-weight: bolder;
    width: 100%;
}



.goal {
    width: 90%;
    height: 100px;
    min-height: fit-content;

    display: block;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

    outline: rgba(102, 255, 26, 1) 2px solid;
    background: black;
    color: white;


}

.allGoals,
.more {
    text-align: center;
    width: 30%;
    border-radius: 10px;
    width: 30%;
    outline: rgba(102, 255, 26, 1) 2px solid;
    background: black;
    color: white;
    cursor: pointer;
}

button {
    width: 50%;
    height: 30%;
    min-height: fit-content;
    display: block;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

    outline: rgba(102, 255, 26, 1) 2px solid;
    background: black;
    color: white;
}

.setButton {
    align-self: flex-end;
    height: 80px;
}

.pending,
.accepted {
    width: 50%;
    height: 30%;
    min-height: fit-content;
    display: block;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    outline: black 2px solid;
    background: rgba(128, 128, 128, 0.6);
    color: black;
}

.friends {
    height: 50%;
}