<div class="page">
    <div class="profile-body-l">

        <div @details class="details">


            <div class="img-sect">

                <img class="pic" src="../assets/dashboard_images/p.png">

                {{this.user.Username}}

            </div>

            <div class="info-sect">
                <h1>{{this.user.FirstName}} {{this.user.LastName}}</h1>

                <p>
                    Email: {{this.user.Email}}
                    <br>
                    <br>
                    Goal Title: {{this.levelName}}
                </p>

            </div>

            <div class="desc">

                <form *ngIf="editDescription; else Desc;" [formGroup]="descriptionForm" class="form">
                    <textarea class="desc-box" formControlName="Description" placeholder="Add a Description"
                        [ariaDisabled]="true"></textarea>
                </form>

                <ng-template #Desc>
                    <div class="d-box">
                        <p *ngIf="this.user.Description?.length===0; else d;">No Description Set</p>
                    </div>

                    <ng-template #d>
                        <div class="d-box">
                            <p>{{this.user.Description}}</p>
                        </div>
                    </ng-template>

                </ng-template>

                <div *ngIf="this.theUser" class="desc-b">
                    <button *ngIf="!editDescription; else editD;" class="edit-b"
                        (click)="editDescription = !editDescription">Edit</button>
                    <ng-template #editD>
                        <button style="margin-top: 15px" (click)="updateDescription()">Save</button>
                        <button style="margin-top: 15px" (click)="editDescription = !editDescription">Cancel</button>
                    </ng-template>
                </div>


            </div>

            <div class="account-b">

                <button *ngIf="!this.theUser && !this.added && !this.requested" (click)="FriendRequest()"
                    [disabled]="this.added" id="friendButton">Add Friend</button>

                <p *ngIf=" this.requested" class="pending">Request Pending</p>
                <p *ngIf="this.added" class="accepted">Friend</p>

                <button *ngIf="this.theUser" routerLink="../settings" id="setButton">Go to Account
                    Settings</button>
            </div>

        </div>


    </div>

    <div class="profile-body-r">

        <div @goals class="goal-outline">

            <div class="goal-card">
                <h1>Top Goals</h1>
            </div>

            <div class="goal" *ngFor="let u of topUserGoals">
                <div class="desc">
                    <p>{{u.Title}}</p>
                    <p>{{u.Description}}</p>
                </div>
            </div>

            <div *ngIf="this.theUser" class="g-redirect">
                <button class="allGoals" routerLink="../goals">Go to all your goals</button>
            </div>

            <div class="more" *ngIf="!this.theUser && this.theCount < this.userGoals.length" (click)="more()"><i
                    id="moreButton">More</i></div>
        </div>

        <div @friends class="friend-outline">

            <h1 *ngIf="!this.theUser">Mutual Friends</h1>
            <h1 *ngIf="this.theUser">Pending Friend Requests</h1>

            <div class="requests">

                <div class="cards" *ngIf="this.theUser; else not;">

                    <div class="card1" *ngFor="let p of pendingFriends | keyvalue">

                        <p>{{p.value}}</p>

                        <div class="bts">

                            <button class="accept" (click)="acceptRequest(p.key)">
                                <mat-icon style="color: rgba(102, 255, 26, 1)">check</mat-icon>
                            </button>

                            <button class="decline" (click)="declineRequest(p.key)">
                                <mat-icon style="color: red">close</mat-icon>
                            </button>
                        </div>

                    </div>

                </div>

                <ng-template #not>

                    <div class="cards">

                        <div class="card2" *ngFor="let m of mutualFriends | keyvalue">

                            <p>{{m.value}}</p>

                        </div>

                    </div>

                </ng-template>

            </div>

        </div>

    </div>


</div>