.color-grad-navbar {
    background: rgb(254, 255, 0);
    background: linear-gradient(90deg, rgba(254, 255, 0, 1) 0%, rgba(102, 255, 26, 1) 53%);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.75);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    position: fixed;
}

button {
    background-color: #202020;
    border: solid 2px;
    border-color: #202020;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Verdana, Geneva, sans-serif;
    margin: 4px 2px;
    cursor: pointer;

    border-radius: 6px;
}

button:hover {
    color: white;
    border: solid 2px;

}