.p {
    display: flex;
    flex-direction: column;

}

.info-cont {

    height: fit-content;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    margin-top: 50px;

    transition: all 0.5s ease-in-out;
}

.tag {
    background: black;

    border-bottom: 2px solid greenyellow;
    color: white;
    height: clamp(300px, 300px, 300px);
    width: 100%;
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    top: 0px;
    gap: 10px;
    align-content: center;
    align-items: center;

    transition: 0.5s ease-in-out;
}

.tag:hover {
    position: relative;
    top: 10px;
    transition: 0.5s ease-in-out;
    border-radius: 15px;
}

.tag h1 {
    font-size: 2.5em;
    font-weight: 500;

    position: relative;
    top: 0px;
}

.tag p {
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
}

.card-cont {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    position: relative;
    top: 0px;
    padding: 20px;

    outline: 1px solid black;
    color: white;

    transition: all 0.5s ease-in-out;
}

.infocard {
    height: 600px;
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    position: relative;
    top: 0px;


    outline: 1px solid black;
    background: white;

    transition: all 0.5s ease-in-out;
}