<div class="page p">

    <div @tags class="info-cont">
        <div class="tag">
            <h1>Our Mission</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
        </div>

        <div class="tag">
            <h1>Our Vision</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
        </div>
        <div class="tag">
            <h1>Our Values</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
        </div>
        <div class="tag">
            <h1>Our Goal</h1>
            <p>Our goal? What about yours?!... That's the whole point of Go Goal. Attending to all of your
                goal-keeping
                needs while ensuring you're connected with everyone elses. Go goals.</p>
        </div>
    </div>

    <div class="profiles">
        <div @cards1 class="card-cont">
            <div class="infocard">
                <div class="card-top">
                    <img src="../../assets/dashboard_images/p.png" alt="">
                    <h1>John Doe</h1>
                </div>
                <div class="card-bot">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae numquam dolore eum ducimus
                        fugiat dignissimos veniam. Earum sequi reiciendis qui doloremque ducimus numquam animi odio
                        voluptates sint, minima iusto vero!</p>
                </div>
            </div>
            <div class="infocard"></div>
        </div>
        <div @cards2 class="card-cont">
            <div class="infocard"></div>
            <div class="infocard"></div>
        </div>
    </div>

</div>