<div class="page p">

    <div @tags class="info-cont">
        <div class="tag">
            <h1>Our Mission</h1>
            <p>Our deity-given mission is to provide you and everyone with a platform to monitor and reach any goal that
                is set. We will not stop until all of your goals have been reached, and we'll be there every step of the
                way.</p>
        </div>

        <div class="tag">
            <h1>Our Vision</h1>
            <p>We intend to see our users grow and flourish, doing everything we can in order to do so. In a perfect
                world, everyone has a goal, and are able to achieve it because of our support.</p>
        </div>
        <div class="tag">
            <h1>Our Values</h1>
            <p>Our values are your values. Self-improvement. Connectedness. Every word and term to describe what it
                takes to become a better version of yourself. That's what we value. You.</p>
        </div>
        <div class="tag">
            <h1>Our Goal</h1>
            <p>Our goal? What about yours?!... That's the whole point of Go Goal. Attending to all of your
                goal-keeping
                needs while ensuring you're connected with everyone elses. Go goals.</p>
        </div>
    </div>

    <div class="profiles">
        <div @cards1 class="card-cont">


            <div class="infocard" id="Nate">
                <div class="card-top">

                    <div class="border-a l-pos">
                        <img src="../../assets/profile_shots/nate.jpg" alt="">
                    </div>
                    <div class="names">

                        <h1 class="animate">Nathan</h1>
                        <h1 class="animate">"Gas Master"</h1>
                        <h1 class="animate">De Jesus</h1>

                        <p><u><b>Role</b></u>: Front-End Developer</p>
                        <p><u><b>Aliases</b></u>: Byte Knight, Violet Evergreen, Raelyn Eversolace</p>
                        <p><u><b>Github</b></u>: AvalonAce</p>
                        <p><u><b>LinkedIn</b></u>: https://www.linkedin.com/in/nathan-de-jesus-69a570258</p>

                    </div>
                </div>

                <div class="card-bot">
                    <p>Born in a small town in rural Florida, Nathan De Jesus graduated highschool with a 4.6 GPA and an
                        IB Diploma, now currently attending the University of Florida and pursuing a Bachelor's Degree
                        in
                        Computer Science. Hobbies include anime perusal, Dungeons and Dragons game running,
                        bodybuilding,
                        and overall
                        degen-chad type of behavior.</p>
                    <div class="blockquote">"Cruelty's a bitch... and I want to marry her."</div>
                </div>

            </div>


            <div class="infocard" id="Sam">
                <div class="card-top">

                    <div class="border-c l-pos">
                        <img src="../../assets/dashboard_images/p.png" alt="">
                    </div>
                    <div class="names">

                        <h1 class="animate3">Sam</h1>
                        <h1 class="animate3">"[Placeholder]"</h1>
                        <h1 class="animate3">Glickman</h1>

                        <p><u><b>Role</b></u>: Front-End Developer</p>
                        <p><u><b>Aliases</b></u>: -</p>
                        <p><u><b>Github</b></u>: ThatOneGuySam</p>
                        <p><u><b>LinkedIn</b></u>: -</p>

                    </div>
                </div>

                <div class="card-bot">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ratione ipsum earum, consequuntur
                        tenetur voluptates sapiente amet, aut at quaerat alias itaque facere, in enim laboriosam
                        doloremque quos doloribus voluptas!</p>
                    <div class="blockquote">"Lorem"</div>
                </div>
            </div>
        </div>

        <div @cards2 class="card-cont">


            <div class="infocard" id="Oscar">
                <div class="card-top">

                    <div class="names">

                        <h1 class="animate2">Oscar</h1>
                        <h1 class="animate2">"Stupid"</h1>
                        <h1 class="animate2">Rodas</h1>

                        <p><u><b>Role</b></u>: Back-End Developer</p>
                        <p><u><b>Aliases</b></u>: N/A</p>
                        <p><u><b>Github</b></u>: thescar101</p>
                        <p><u><b>LinkedIn</b></u>: https://www.linkedin.com/in/oscar-rodas-b4249322b</p>

                    </div>

                    <div class="border-b r-pos">
                        <img src="../../assets/dashboard_images/p.png" alt="">
                    </div>

                </div>

                <div class="card-bot">
                    <p style="text-align: right;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nulla quam
                        id vitae distinctio cumque
                        unde ipsa repudiandae commodi, nam repellendus a suscipit aliquam quo, assumenda earum optio,
                        iste ratione!</p>
                    <div class="blockquote2">"I have become sleepy, the goer to bed."</div>
                </div>
            </div>


            <div class="infocard" id="Don">
                <div class="card-top">

                    <div class="names">

                        <h1 class="animate4">Don</h1>
                        <h1 class="animate4">"[Placeholder]"</h1>
                        <h1 class="animate4">Chen</h1>

                        <p><u><b>Role</b></u>: Back-End Developer</p>
                        <p><u><b>Aliases</b></u>: -</p>
                        <p><u><b>Github</b></u>: dwan12345</p>
                        <p><u><b>LinkedIn</b></u>: -</p>

                    </div>

                    <div class="border-d r-pos">
                        <img src="../../assets/dashboard_images/p.png" alt="">
                    </div>

                </div>

                <div class="card-bot">
                    <p style="text-align: right;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet a
                        tenetur optio, impedit dolor,
                        quibusdam molestiae debitis fuga tempore unde deserunt, consequatur aliquid. Accusamus atque
                        numquam ratione. Similique, architecto rem?</p>
                    <div class="blockquote2">"Lorem"</div>
                </div>
            </div>
        </div>
    </div>

</div>