<body>
    <b class="title">Create Account</b>
    <br>
    <div class="signup">
    <label>First Name: </label>
    <input type="text" class="form" name="Firstname">
    <br>
    <label>Last Name: </label>
    <input type="text" class="form" name="LastName">
    <br>
    <label>Email: </label>
    <input type="text" class="form" name="Email: ">
    <br>
    <label>Username: </label>
    <input type="text" class="form" name="Username">
    <br>
    <label>Password: </label>
    <input type="password" class="form" name="Password">
    </div>
    <br>
    <button>Sign Up</button>
    </body>
