<div class="page">
    <div class="main">

        <div class="signblock">

            <h1>Create Account</h1>

            <div class="signup">

                <form class="form" [formGroup]="userForm" (submit)="Submit(userForm)">

                    <div class="forms">

                        <div class="f-2">
                            <label class="form1" name="FirstName">First Name: </label>
                            <input type="text" class="form" name="FirstName" placeholder="First Name"
                                formControlName="FirstName">
                        </div>

                        <div class="f-2">
                            <label class="form1" for="LastName">Last Name: </label>
                            <input type="text" class="form" name="LastName" placeholder="Last Name"
                                formControlName="LastName">
                        </div>

                        <div class="f-2">
                            <label class="form1" for="Email">Email: </label>
                            <input type="text" class="form" name="Email" placeholder="Email" formControlName="Email">
                        </div>

                        <div class="f-2">
                            <label class="form1" for="Username">Username: </label>
                            <input type="text" class="form" name="Username" placeholder="Username"
                                formControlName="Username">
                        </div>

                        <div class="f-2">
                            <label class="form1" for="Password">Password: </label>
                            <input type="password" class="form" name="Password" placeholder="********"
                                formControlName="Password">
                        </div>

                        <div class="f-2">
                            <label class="form1" for="ConfirmPassword">Confirm Password: </label>
                            <input type="password" class="form" name="ConfirmPassword" placeholder="********"
                                formControlName="ConfirmPassword">
                        </div>

                    </div>

                    <div class="button">
                        <button type="submit">Sign Up</button>
                    </div>
                </form>

            </div>

            <br>

            <div id="test" *ngIf="this.submitted">
                <p>{{this.signUpMessage}}</p>
            </div>

        </div>

    </div>
</div>