<div class="page">
    <div style="height: 100vh;">

        <div @p1Slide class="panel p1-pos">
            <p>Name: {{this.profileData.FirstName}} {{this.profileData.LastName}}</p>
            <button (click)="edit('Name:')">
                <mat-icon>edit</mat-icon>
            </button>
        </div>


        <div @p2Slide class="panel p2-pos">
            <p>Username: {{this.profileData.Username}}</p>
            <button (click)="edit('Username:')">
                <mat-icon>edit</mat-icon>
            </button>
        </div>

        <div @p3Slide class="panel p3-pos">
            <p>Email: {{this.profileData.Email}}</p>
            <button (click)="edit('Email:')">
                <mat-icon>edit</mat-icon>
            </button>
        </div>

        <div @p4Slide class="panel p4-pos">
            <p>Password</p>
            <button class="pb" (click)="edit('New Password:')">Change Password</button>
        </div>

        <div class="pic-cont">
            <img class="pic" @picSlide src="../assets/dashboard_images/p.png">
            <div (click)="edit('New Image')" class="pic-update">
                <p>Update?</p>
            </div>

        </div>


        <div class="overlay" *ngIf="this.editing">
            <div class="pop-up">
                <form [formGroup]="changeForm" (ngSubmit)="saveEdits(this.title,changeForm)">
                    <label>{{this.title}} </label>
                    <input type="text" class="form" name="data" formControlName="data">
                    <input *ngIf="this.double" type="text" class="form" name="data2" formControlName="data2">
                    <div style="display: flex; justify-content: space-around; align-items: center;">
                        <button type="submit">Save</button>
                        <button (click)="close()">Cancel</button>
                    </div>
                    <p *ngIf="this.invalid">{{this.invalidMessage}}</p>
                </form>
            </div>
        </div>

    </div>
</div>